body {
    background-image:url(../images/Background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    background-color:#adb6a2;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}


.userchoices {
    border-radius: 10px;
    block-size: auto;
    border: none;
    display: inherit;
    cursor: pointer;
}

.userchoices:hover{
    background-color: #fbbc05;
}

#questionBank {
    font-size:26px;
}