/* body {
    background-image:url(../images/Background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    background-color:#adb6a2;
    color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}


.buttons {
    border-radius: 10px;
    block-size: auto;
    background-color: #fff;
    border: none;
    display: inherit;
}

.buttons:hover{
    background-color: #adb6a2;
} */
